# Node modules
node_modules/

# Environment variables
.env

# Google Cloud credentials
google-credentials.json

!package.json
!package-lock.json

# API keys
gptkey.txt

#debug toggle files
debugtoggle.txt

# Logs
storage/logs/
*.log

# Temporary files
scanning/temp/
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

endpointkey.txt